@import flashes
@import reset
@import colors

=border
  border: solid 1px rgba(white, 0.2)

=corner-round-1
  border-radius: 4px
=corner-round-2
  border-radius: 8px
=corner-round-3
  border-radius: 12px


